export PATH="/opt/data/home/.local/bin:/opt/data/home/local/pkg/usr/bin:$PATH"
export LD_LIBRARY_PATH="/opt/data/home/local/pkg/usr/lib/x86_64-linux-gnu:/opt/data/home/local/pkg/lib/x86_64-linux-gnu:$LD_LIBRARY_PATH"
