APP_NAME=GamePriceAPI
APP_ENV=production
APP_KEY=base64:y9MgijcW88wnD0B81AIdGwhYcGUZL04de8yl4xgS6Xk=
APP_DEBUG=false
APP_URL=http://localhost:8000

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=gameprice_api
DB_USERNAME=gameprice
DB_PASSWORD=secret

API_RATE_LIMIT=100
API_KEYS=dev-key-change-me-in-production

CACHE_DRIVER=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync

SCRAPER_TIMEOUT=10
SCRAPER_USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36"

RAPIDAPI_KEY=
RAPIDAPI_SECRET=
